body {
    background-color: lightgray;
}

h1 {
    color: lightyellow;"
    font-size:40px;
    margin-left: 10px;
}

h2 {
    color: darkcyan;
    font-weight: bolder;
    font-size: 40px;
}

main, form {
    width: fit-content;
    margin: auto;
    background-color: blanchedalmond; 
    border: solid; 
    border-color: darkgrey; 
    margin-top: 50px;"
}

.form-control {
    background-color: seashell;
}

.message {
    margin: border-box;
    height: 200px;
}

.content {
    margin: 10px;
}

img {
    margin: 20px;
}



