body {

}

h1 {
    color: lightyellow;"
}

form {
    width: 500px; 
    margin: auto; 
    border: solid; 
    border-color: rgb(163, 159, 159); 
    border; padding: 20px; 
    margin-top: 50px;"
}

.message {
    height: 200px;
}